.container h1{
    font-family: courier;
    color : orange;

 }

.container h3{
    font-family: verdana;
    color : coral;
 }

h5{
    font-family: verdana;
    color : coral;
 }


h6{
    font-family: verdana;
    color : coral;
 }